@keyframes slide-in-50 {
  0% {
    width: 0%;
    border-left: none;
    opacity: 0;
  }

  100% {
    width: 50%;
    border-left: 9px solid black;
    opacity: 1;
  }
}

@keyframes slide-in-75 {
  0% {
    width: 0%;
    border-left: none;
    opacity: 0;
  }

  100% {
    width: 75%;
    border-left: 9px solid black;
    opacity: 1;
  }
}

@keyframes slide-in-100 {
  0% {
    width: 0%;
    opacity: 0;
  }

  100% {
    width: 100%;
    opacity: 1;
  }
}

@keyframes slide-out-50 {
  0% {
    width: 50%;
    border-left: 9px solid black;
    opacity: 1;
  }

  100% {
    width: 0%;
    border-left: none;
    opacity: 0;
  }
}

@keyframes slide-out-75 {
  0% {
    width: 75%;
    border-left: 9px solid black;
    opacity: 1;
  }

  100% {
    width: 0%;
    border-left: none;
    opacity: 0;
  }
}

@keyframes slide-out-100 {
  0% {
    width: 100%;
    opacity: 1;
  }

  100% {
    width: 0%;
    opacity: 0;
  }
}

@keyframes move {
  0% {
    transform: rotate(0deg) translateY(10px) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translateY(10px) rotate(-360deg);
  }
}
