@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

@font-face {
  font-family: 'DungGeunMo';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@mixin Paperlogy($name, $weight) {
  @font-face {
    font-family: 'Paperlogy';
    src: url('@/assets/fonts/Paperlogy/#{$name}.ttf') format('truetype');
    font-weight: $weight;
    font-style: normal;
    // unicode-range: U+AC00-D7A3, U+0030-0039;
  }
}

@include Paperlogy(Paperlogy-4Regular, 400);
@include Paperlogy(Paperlogy-5Medium, 500);
@include Paperlogy(Paperlogy-6SemiBold, 600);
@include Paperlogy(Paperlogy-7Bold, 700);
@include Paperlogy(Paperlogy-8ExtraBold, 800);
@include Paperlogy(Paperlogy-9Black, 900);
