@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

@font-face {
  font-family: 'DungGeunMo';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('@/assets/fonts/S-Core_Dream_OTF/SCDream1.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('@/assets/fonts/S-Core_Dream_OTF/SCDream2.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('@/assets/fonts/S-Core_Dream_OTF/SCDream3.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('@/assets/fonts/S-Core_Dream_OTF/SCDream4.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('@/assets/fonts/S-Core_Dream_OTF/SCDream5.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('@/assets/fonts/S-Core_Dream_OTF/SCDream6.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('@/assets/fonts/S-Core_Dream_OTF/SCDream7.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('@/assets/fonts/S-Core_Dream_OTF/SCDream8.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'S-CoreDream-3Light';
  src: url('@/assets/fonts/S-Core_Dream_OTF/SCDream9.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 900;
  font-display: swap;
  src: local('Pretendard Black'),
    url(@/assets/fonts/Pretendard-1.3.9/woff2/Pretendard-Black.woff2) format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 800;
  font-display: swap;
  src: local('Pretendard ExtraBold'),
    url(@/assets/fonts/Pretendard-1.3.9/woff2/Pretendard-ExtraBold.woff2) format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src: local('Pretendard Bold'),
    url(@/assets/fonts/Pretendard-1.3.9/woff2/Pretendard-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  src: local('Pretendard SemiBold'),
    url(@/assets/fonts/Pretendard-1.3.9/woff2/Pretendard-SemiBold.woff2) format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-display: swap;
  src: local('Pretendard Medium'),
    url(@/assets/fonts/Pretendard-1.3.9/woff2/Pretendard-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src: local('Pretendard Regular'),
    url(@/assets/fonts/Pretendard-1.3.9/woff2/Pretendard-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-display: swap;
  src: local('Pretendard Light'),
    url(@/assets/fonts/Pretendard-1.3.9/woff2/Pretendard-Light.woff2) format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 200;
  font-display: swap;
  src: local('Pretendard ExtraLight'),
    url(@/assets/fonts/Pretendard-1.3.9/woff2/Pretendard-ExtraLight.woff2) format('woff2');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 100;
  font-display: swap;
  src: local('Pretendard Thin'),
    url(@/assets/fonts/Pretendard-1.3.9/woff2/Pretendard-Thin.woff2) format('woff2');
}
