html {
  overflow: hidden;
}

#app {
  /* font-family: Avenir, Helvetica, Arial, sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;

  font-family: 'Pretendard';
}

body {
  margin: 0;
}

nav {
  position: fixed;
  background-color: transparent;
  height: 100vh;
}

nav ul {
  list-style: none;
  padding: 0;
  
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  gap: 20px;
}

.title h1 {
  margin: 0;
  font-size: 60px;
  font-family: '이서윤체';
  color: #000000;
  font-weight: bold;
}

.title button {
  background-color: transparent;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-family: '이서윤체';
  font-size: 20px;
  font-weight: bold;
}

.calendar-title {
  font-size: 30px;
  color: black;
}

.calendar-head {
  display: flex;
  width: 916px;
  justify-content: center;
}

.calendar-head div {
  width: 130px;

  font-size: 30px;
  padding: 10px 0 30px 0;
}

.calendar-head div span {
  color: black;
  /* text-shadow:
    1px 1px 1px black,
    -1px 1px 1px black,
    1px -1px 1px black,
    -1px -1px 1px black; */
}

.calendar-head div:nth-child(1) {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.calendar-head div:nth-last-child(1) {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.calendar-head div span {
  padding: 6px 8px;
}

.calendar-body {
  display: flex;
  width: 710px;
  height: 650px;
  flex-wrap: wrap;
  align-content: baseline;

  .day {
    width: 90px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
    border: 1px solid #000000;
    font-size: 40px;
    cursor: pointer;
    /*
      animation-name: fade-in;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      opacity: 0;
    */

    /* div:nth-child(1) {
      width: 100%;
      height: 20px;
      display: flex;
      justify-content: start;
      align-items: center;

      span {
        border-radius: 50%;
        display: inline-flex;
        width: 30px;
        height: 30px;
        justify-content: center;
        align-items: center;
      }
    } */

    /*
    div:nth-child(1) {
      height: calc(100% - 20px);
      display: flex;
      align-items: center;
      justify-content: center;
  
      span {
        font-size: 30px;
        cursor: pointer;
      }
    }
    */
  }
}

.day.focus {
  background-color: gold;
}

.day.hide {
  background-color: #ffffff;
}

/*
.post {
  position: absolute;
  right: 30px;
  bottom: 30px;
  width: 600px;
  height: 400px;
  box-shadow: 10px 10px #000000;
  border-radius: 20px;
  background-color: #ffffff;
}
*/

.slider {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 0;
  height: 100vh;
  background-color: white;
}

.slide-in {
  animation: 0.5s slide-in forwards;
}

.slide-out {
  animation: 0.5s slide-out forwards;
}

.narrow {
  animation: 0.5s narrow forwards;
}

.wide {
  animation: 0.5s wide forwards;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px 100px 50px 0;
  color: #000000;
}

.post .icon {
  font-size: 70px;
}

.post .title {
  font-size: 50px;
  font-weight: bold;
  font-family: 'Pretendard';
  width: 100%;
  text-align: left;
  padding: 10px 0 15px 0;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 30px;
}

.post .contents {
  font-size: 18px;
}

.post button {
  position: absolute;
  top: 30px;
  right: 30px;
  background-color: transparent;
  border: none;
  font-family: '이서윤체';
  font-size: 24px;
  cursor: pointer;
}

.post button:hover {
  animation: 2s rotate infinite;
}

@keyframes fade-in {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@keyframes flip {
  0% {
    transform: scaleX(1)
  }

  50% {
    transform: scaleX(-1)
  }

  100% {
    transform: scaleX(1)
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg)
  }
}


@keyframes slide-in {
  0% {
    width: 0;
    opacity: 0;
  }

  100% {
    width: 700px;
    opacity: 1;
  }
}

@keyframes slide-out {
  0% {
    width: 700px;
    opacity: 1;
  }

  100% {
    width: 0;
    opacity: 0;
  }
}

@keyframes narrow {
  0% {
    width: 100%;
  }

  100% {
    width: calc(100% - 800px)
  }
}

@keyframes wide {
  0% {
    width: calc(100% - 800px)
  }

  100% {
    width: 100%;
  }
}

.buttons {
  position: absolute;
  right: 30px;
  bottom: 30px;

  button {
    background-image: url('/src/assets/pencil.svg');
    background-position: center;
    background-size: cover;
    width: 60px;
    height: 60px;
    border: none;
    background-color: transparent;
  }

  button:hover {
    animation: 2s rotate infinite;
  }
}