/* base */
* {
  box-sizing: border-box;
  font-family: 'Paperlogy';
  font-weight: 500;
  font-size: 18px;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body::-webkit-scrollbar {
  display: none;
}

/* common */

span.keyword {
  padding: 3px 10px;
  border-radius: 6px;
  background-color: #ffffff;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1px;
  box-shadow: 4px 4px 0 #b2222230;
  border: 2px solid #b2222230;

  &:hover {
    border-color: firebrick;
    box-shadow: 4px 4px 0 firebrick;
    transform: translate(-3px, -3px);
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  outline: none;
}

div.loading {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    position: relative;
    height: 46px;
    animation: move 2s linear;
    animation-iteration-count: infinite;
  }
}

div.fail {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  img {
    height: 46px;
  }
}

// .disabled {
//   img {
//     filter: invert(52%) sepia(0%) saturate(0%) hue-rotate(199deg) brightness(96%)
//       contrast(94%);
//   }
// }

/* scrollbar */

.scroll {
  &::-webkit-scrollbar {
    background-color: #ffffff;
  }

  &::-webkit-scrollbar-track {
    background-color: #eeeeee;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #aaaaaa;
    border: 3px solid #eeeeee;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-button:single-button {
    background-color: #eeeeee;
    border: 2px solid #eeeeee;
    background-position: center;
    background-repeat: no-repeat;
  }

  &::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-image: url('/src/assets/icons/caret-up.svg');
  }

  &::-webkit-scrollbar-button:single-button:vertical:increment {
    background-image: url('/src/assets/icons/caret-down.svg');
  }

  &::-webkit-scrollbar-button:single-button:horizontal:decrement {
    background-image: url('/src/assets/icons/caret-left.svg');
  }

  &::-webkit-scrollbar-button:single-button:horizontal:increment {
    background-image: url('/src/assets/icons/caret-right.svg');
  }
}

/* app */

#app {
  width: 100%;
  height: 100%;
}

/* background */

#background {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-position: right top;
  background-repeat: no-repeat;
  background-image: url('@/assets/images/background.png');
}

/* main */

#main {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: first baseline;
  gap: 40px;
  user-select: none;

  /* title */

  #title {
    h1 {
      margin: 0;
      font-size: 3rem;
      font-weight: 900;
    }

    h2 {
      margin: 10px 0 0 0;
      font-size: 1.6rem;
      font-weight: 800;
      color: firebrick;
    }
  }

  /* window */

  #window {
    display: grid;
    grid-template-rows: 50px 1fr 30px;
    height: 590px;
    gap: 0;
    width: 100%;

    > header {
      display: grid;
      grid-template-columns: 1fr 70px;
      background-color: gray;
      border: 9px solid black;
      border-bottom: none;
      padding: 4px 4px 0 4px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      color: white;
      align-items: center;
      width: 100%;

      div.lt {
        display: flex;
        height: 37px;

        button {
          border: none;
          background-color: transparent;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          color: white;
          font-family: inherit;
          width: 150px;

          &:hover {
            background-color: rgb(99, 99, 99);
          }

          &.selected {
            background-color: black;
          }
        }
      }

      div.rt {
        display: flex;
        align-items: center;
        gap: 10px;
        height: 36px;

        button {
          border: none;
          background-color: transparent;
          padding: 0;
          width: 40px;
          height: 40px;

          img {
            width: 26px;
            height: 26px;

            filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(170deg)
              brightness(102%) contrast(102%);
          }
        }
      }
    }

    > section:not(#loading) {
      width: 100%;
      height: 100%;
      border: 9px solid black;
      border-top: none;
      border-bottom: none;
      overflow: hidden;
      background-color: white;

      .component {
        nav {
          background-color: #000000;
          width: 100%;
          height: 50px;
          display: grid;
          align-items: center;
          gap: 10px;

          div.lt {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 10px;
            gap: 10px;

            label {
              color: white;
              display: inline-flex;
              gap: 10px;

              input {
                accent-color: firebrick;
                transform: scale(1.3);
              }
            }

            button {
              background-color: transparent;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 4px;
              border: 3px solid transparent;
              border-radius: 6px;
              width: 36px;
              height: 36px;
              cursor: pointer;

              img {
                width: 22px;
                height: 22px;
                filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(170deg)
                  brightness(102%) contrast(102%);
              }

              &:hover:not(:disabled) {
                img {
                  width: 28px;
                  height: 28px;
                }
              }
            }

            button:disabled {
              cursor: not-allowed;

              img {
                filter: invert(52%) sepia(0%) saturate(0%) hue-rotate(199deg)
                  brightness(96%) contrast(94%);
              }
            }
          }

          div.rt {
            display: flex;
            align-items: center;
            background-color: #ffffff;
            height: 31px;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            padding: 3px 6px;
            gap: 3px;

            img {
              width: 22px;
              height: 22px;
            }

            span {
              display: inline-flex;
            }
          }
        }
      }
    }

    > footer {
      border: 9px solid black;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      background-color: gray;
    }
  }
}

/* article (slide) */

#article {
  height: 100%;
  overflow-y: scroll;
  position: fixed;
  width: 0%;
  background-color: white;
  box-shadow: 0 0 100px #dddddd;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  z-index: 20;
  gap: 10px;

  section.buttons {
    display: flex;
    align-items: center;
    justify-content: right;

    button {
      width: 53px;
      height: 53px;
      background-color: transparent;
      border: none;
    }
  }

  section.loading {
    article {
      display: flex;
      flex-direction: column;
      gap: 20px;
      align-items: center;
      justify-content: first baseline;
      padding-top: 60px;
      height: 100%;
      background-image: url('@/assets/images/loading.svg');

      h1 {
        margin: 0;
        font-size: 2.4rem;
        font-weight: 900;
      }

      div {
        display: flex;
        gap: 6px;
        border: 9px solid black;
        width: 180px;
        height: 70px;
        padding: 6px;
        border-radius: 16px;

        span {
          display: inline-block;
          width: 20px;
          height: 40px;
          background-color: black;
        }
      }
    }
  }

  section.article {
    padding: 20px 40px;

    article {
      width: 100%;

      h1,
      h2,
      h3 {
        margin-top: 49px;

        &:first-child {
          margin-top: 0;
        }
      }

      h1 {
        font-size: 2.2rem;
        font-weight: 900;
      }

      h2 {
        font-size: 1.5rem;
        font-weight: 800;
      }

      h3 {
        font-size: 1.1rem;
        font-weight: 800;
      }

      h4 {
        font-size: 1rem;
        font-weight: 700;
      }

      a {
        color: #b2222280;
        text-decoration: underline;
      }

      strong {
        font-weight: 700;
      }

      mark {
        background-color: #ffd70030;
      }

      p {
        line-height: 2;
        margin: 40px 0;
      }

      sub {
        position: relative;
        font-size: 13px;
        color: gray;
        display: inline-block;
        top: -4px;
        height: 18px;
      }

      sup {
        display: inline-block;
        color: gray;
        padding: 0;
        font-size: 13px;

        * {
          font-size: inherit;
        }
      }

      p code,
      ul code {
        background-color: #eeeeee;
        padding: 0 6px;
        border-radius: 6px;
        color: firebrick;
        font-family: 'Fira Code';
        font-size: 0.9rem;
      }

      blockquote {
        border-left: 9px solid firebrick;
        margin: 0;
        padding: 0 20px;
      }

      pre {
        * {
          font-family: 'Fira Code', 'Paperlogy' !important;
          line-height: 1.6;
          font-size: 0.9rem;
        }

        code {
          border-radius: 16px !important;
          text-wrap: wrap;
        }
      }

      // pre {
      //   background-color: #00000008;
      //   border-radius: 16px;
      //   padding: 20px;
      //   line-height: 1.4;
      //   text-wrap: wrap;

      //   code {
      //     font-family: 'Fira Code', 'Paperlogy';
      //     font-size: 0.9rem;
      //   }
      // }

      ol {
        padding-left: 40px;

        li {
          margin: 6px 0;
          line-height: 1.6;
        }
      }

      ul {
        list-style: disc;
        padding-left: 27px;

        li {
          margin: 6px 0;
          line-height: 1.6;

          ul {
            list-style: circle;
          }

          span.version {
            color: white;
            background-color: black;
            padding: 3px 6px;
            font-size: 0.7rem;
            border-radius: 6px;
          }
        }
      }

      ul.env {
        background-color: #b2222210;
        padding: 10px 20px;
        list-style: none;
        border-radius: 20px;

        li {
          display: flex;
          align-items: center;
          gap: 10px;

          &::before {
            content: '\2043';
          }
        }
      }
    }
  }
}

#career {
  width: 100%;
  height: inherit;

  header {
    grid-template-columns: auto 2fr 1fr;
  }

  section {
    width: 100%;
    height: calc(100% - 50px);
    overflow: auto;

    div.wrapper {
      height: 100%;

      table {
        width: 100%;
        border-collapse: collapse;

        thead {
          th {
            background-color: #eeeeee;
            padding: 10px 20px;
            text-align: left;
            font-weight: 700;

            &:nth-child(1) {
              width: 41%;
            }

            &:nth-child(2) {
              width: 31%;
            }

            &:nth-child(3) {
              width: 28%;
              font-size: 0.9rem;
              text-align: right;
            }

            div {
              display: flex;
              justify-content: space-between;

              span:first-child {
                display: flex;
                align-items: center;
                gap: 6px;

                img {
                  width: 20px;
                }
              }

              span:last-child {
                font-weight: 600;
              }
            }
          }
        }

        tbody {
          tr {
            cursor: pointer;
            height: 44px;

            &:not(.disabled):hover {
              color: #ffffff;
              background-color: firebrick;

              img {
                filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(170deg)
                  brightness(102%) contrast(102%);
              }

              span.keyword {
                background-color: #eeeeee;
                color: firebrick;
              }
            }

            td {
              text-wrap: nowrap;

              &:nth-child(1) {
                padding-left: 30px;
              }

              &:nth-child(3) {
                padding: 0 20px;
                text-align: right;
              }

              span {
                display: flex;
                align-items: center;
                gap: 6px;

                &.period {
                  display: inline-block;
                  width: inherit;
                  font-size: 0.9rem;
                }
              }

              img {
                width: 20px;
              }
            }
          }
        }
      }
    }
  }
}

#archive {
  width: 100%;
  height: calc(100% - 50px);

  header {
    grid-template-columns: auto 2fr 1fr;
  }

  section {
    width: 100%;
    height: 100%;

    div.wrapper {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
      align-content: baseline;

      div.icon {
        width: 110px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: first baseline;
        padding: 20px 10px;
        gap: 4px;
        flex-wrap: wrap;

        img {
          height: 46px;
        }

        span {
          display: inline-block;
          width: 90px;
          height: 26px;
          text-align: center;
          text-overflow: ellipsis;
          overflow: hidden;
        }

        &:hover {
          background-color: firebrick;
          z-index: 3;
          color: white;

          img {
            filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(170deg)
              brightness(102%) contrast(102%);
          }

          span {
            background-color: firebrick;
            color: white;
            margin-top: 50px;
            position: absolute;
            overflow-wrap: break-word;
            height: fit-content;
            width: 110px;
            padding: 0 10px 10px 10px;
            z-index: 4;
          }
        }
      }

      div.empty {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #aaaaaa;
      }
    }
  }
}

#index {
  height: 100%;

  nav {
    grid-template-columns: 190px 1fr;
  }

  > section {
    display: grid;
    grid-template-columns: 200px 1fr;
    height: calc(100% - 50px);

    aside {
      background-color: #eeeeee;
      border-right: 9px solid black;

      ul {
        li {
          display: flex;
          align-items: center;
          height: 46px;
          padding: 0 10px;

          &:hover {
            color: firebrick;
          }

          &.selected {
            background-color: firebrick;
            color: white;
          }
        }
      }
    }

    > div {
      height: 100%;
      overflow-y: hidden;
      scroll-behavior: smooth;

      section {
        height: 100%;
      }

      section.info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;

        > span {
          display: flex;
          gap: 10px;
          align-items: center;
          height: 30px;

          img {
            width: 22px;
            padding-top: 5px;
          }
        }
      }

      section.skills {
        padding: 20px;

        > div {
          display: flex;
          flex-wrap: wrap;
          height: 100%;

          div.box {
            display: grid;
            grid-template-rows: 30px 1fr;
            width: 50%;
            height: 50%;

            > span {
              font-weight: 700;
            }

            div {
              display: flex;
              flex-wrap: wrap;
              align-content: baseline;
              gap: 10px;
              padding: 10px 0;
              font-weight: 400;

              span {
                padding: 4px 10px;
              }
            }
          }
        }
      }

      section.career {
        padding: 20px 20px 20px 14px;

        ul {
          display: flex;
          flex-direction: column;
          gap: 14px;
          margin-bottom: 36px;

          li.parent {
            > div {
              display: flex;
              justify-content: space-between;
              align-items: center;

              span {
                &.name {
                  display: inline-flex;
                  align-items: center;
                  gap: 6px;

                  img {
                    width: 20px;
                  }

                  font-weight: 700;
                  color: firebrick;
                }

                &.days {
                  color: gray;
                }
              }
            }
          }

          li.child {
            padding: 0 30px;

            div {
              display: flex;
              height: inherit;
              align-items: center;

              &:hover {
                font-weight: 700 !important;
                cursor: pointer;
              }
            }

            div:not(.no-item) {
              &:hover {
                &::after {
                  content: '';
                  display: inline-block;
                  width: 20px;
                  height: 20px;
                  background-image: url('@/assets/icons/search.svg');
                  margin-left: 10px;
                  opacity: 0.5;
                }
              }
            }
          }
        }
      }

      section.archive {
        width: 100%;
        height: 100%;

        div.wrapper {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          height: inherit;
          align-content: baseline;

          div.icon {
            width: 110px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            padding: 20px 10px;
            gap: 4px;
            flex-wrap: wrap;
            position: relative;

            img {
              height: 46px;
            }

            span {
              display: inline-block;
              width: 90px;
              height: 26px;
              text-align: center;
              text-overflow: ellipsis;
              overflow: hidden;
            }

            &:hover {
              background-color: firebrick;
              color: white;
              z-index: 6;

              img {
                filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(170deg)
                  brightness(102%) contrast(102%);
              }

              span {
                background-color: firebrick;
                color: white;
                overflow-wrap: break-word;
                height: fit-content;
                width: 110px;
                display: block;
                position: absolute;
                top: 70px;
                padding: 0 10px 10px 10px;
              }
            }
          }

          div.empty {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #aaaaaa;
          }
        }
      }

      section.etc {
        padding: 20px;

        ul {
          list-style: disc;
          padding-left: 20px;

          display: flex;
          flex-direction: column;
          gap: 14px;

          li {
            display: inline-flex;
            align-items: center;

            &:hover {
              font-weight: 700;
              cursor: pointer;
            }

            &::before {
              content: '';
              display: list-item;
            }
          }

          li:not(.no-item) {
            &:hover {
              &::after {
                content: '';
                display: inline-block;
                width: 20px;
                height: 20px;
                background-image: url('@/assets/icons/search.svg');
                margin-left: 10px;
                opacity: 0.5;
              }
            }
          }
        }
      }
    }
  }
}

/* loading shadow */

#loading {
  position: absolute;
  background-color: #00000090;
  width: inherit;
  height: inherit;
  z-index: 100;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  flex-direction: column;
  gap: 10px;
  font-size: 1.2rem;

  div {
    display: flex;
    gap: 6px;
    width: 66px;
    height: 36px;
    padding: 6px;

    span {
      display: inline-block;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      background-color: white;
    }
  }
}
