/* :root {
  --system-color: #bfbfbf;
  --system-text-color: #000000;

  --highlight-color: #000080;
  --hightlight-text-color: #ffffff;

  --outset-color: #bbbbbb;
  --inset-color: #dddddd;

  --scrollbar-color: #eeeeee;
} */

:root {
  --base-color: #e2c9c9;
  --text-color: #8b0000;
  --shadow-color: #8b000030;

  --default-cursor: url('@/assets/icons/fill/cursor.svg') 0 0, auto;
  --pointer-cursor: url('@/assets/icons/fill/pointer.svg') 0 0, auto;
  --insert-cursor: url('@/assets/icons/insert.svg') 0 0, auto;
  --expand-vertical-cursor: url('@/assets/icons/expand-vertical.svg') 0 10, auto;
  --expand-horizontal-cursor: url('@/assets/icons/expand-horizontal.svg') 13 0, auto;
}

@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');

@font-face {
  font-family: 'DungGeunMo';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'DungGeunMo';
}

html,
body {
  margin: 0;
  user-select: none;
  cursor: var(--default-cursor);
}

body {
  background-color: var(--base-color);
  /* background-image: url('@/assets/wallpaper16.jpg'); */
  /* background-position: center; */
  /* background-size: cover; */
  /* background-color: #ffffff; */
  /* background-image: url('https://www.transparenttextures.com/patterns/beige-paper.png'); */
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

@font-face {
  font-family: 'UhBeeRice';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeeRice.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'intelone-mono-font-family-regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/intelone-mono-font-family-regular.woff2')
    format('woff2');
  font-weight: 400;
  font-style: normal;
}

@keyframes slide {
  0% {
    height: 0;
  }

  100% {
    height: 1;
  }
}

.outline {
  border: 2px solid var(--text-color);
}

.filter {
  filter: invert(13%) sepia(51%) saturate(4542%) hue-rotate(350deg) brightness(92%)
    contrast(122%);
}

svg {
  fill: gold;
}

.nw-resize {
  cursor: url('@/assets/icons/fill/resize-up-down.svg') 0 20, auto;
}

/* .outset {
  border-width: 2px !important;
  border-style: outset !important;
  border-top-color: var(--inset-color) !important;
  border-right-color: var(--outset-color) !important;
  border-bottom-color: var(--outset-color) !important;
  border-left-color: var(--inset-color) !important;
}

.inset {
  border-width: 2px !important;
  border-style: inset !important;
  border-top-color: var(--outset-color) !important;
  border-right-color: var(--inset-color) !important;
  border-bottom-color: var(--inset-color) !important;
  border-left-color: var(--outset-color) !important;
} */

/* .outset {
  border-width: 2px !important;
  border-style: solid !important;
  border-color: var(--outset-color) !important;
}

.inset {
  border-width: 2px !important;
  border-style: solid !important;
  border-top-color: var(--inset-color) !important;
  border-right-color: var(--inset-color) !important;
  border-bottom-color: var(--inset-color) !important;
  border-left-color: var(--inset-color) !important;
} */

.scroll {
  &::-webkit-scrollbar {
    background-color: var(--base-color);
    border-collapse: collapse;
  }

  &::-webkit-scrollbar:vertical {
    /* border-left: 2px solid var(--main-color); */
  }

  &::-webkit-scrollbar:horizontal {
    border-top: 2px solid var(--main-color);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border: 2px solid var(--base-color);
  }

  /* &::-webkit-scrollbar-thumb:vertical {
    border-right: none;
  }

  &::-webkit-scrollbar-thumb:horizontal {
    border-bottom: none;
  } */

  &::-webkit-scrollbar-button {
    background-position: center;
    background-repeat: no-repeat;
  }

  &::-webkit-scrollbar-corner {
    background-color: black;
    border-top: 2px solid var(--main-color);
    border-left: 2px solid var(--main-color);
  }

  &::-webkit-scrollbar-button:single-button:vertical:decrement {
    background-image: url('/src/assets/icons/fill/caret-up.svg');
  }

  &::-webkit-scrollbar-button:single-button:vertical:increment {
    background-image: url('/src/assets/icons/fill/caret-down.svg');
  }

  &::-webkit-scrollbar-button:single-button:horizontal:decrement {
    background-image: url('/src/assets/icons/fill/caret-left.svg');
  }

  &::-webkit-scrollbar-button:single-button:horizontal:increment {
    background-image: url('/src/assets/icons/fill/caret-right.svg');
  }
}

.focused {
  background-color: var(--text-color);
  color: var(--base-color);
}

/* #window  */

article {
  padding: 10px;

  h1,
  h2,
  h3 {
    font-weight: normal;
  }

  h1 {
    font-size: 36px;
    margin: 30px 0;

    &:first-child {
      margin-top: 0;
    }
  }

  h2 {
    font-size: 28px;
    margin: 30px 0;
  }

  p {
    line-height: 20px;

    code {
      color: var(--base-color);
      background-color: var(--text-color);
      border-radius: 4px;
      padding: 0 6px;
      font-family: 'Fira Code';
      font-weight: bold;
      font-size: 14px;
    }

    strong {
      font-weight: normal;
      background-color: #ffd700;
      padding: 1px 3px;
    }
  }

  pre {
    background-color: var(--base-color);
    border: 2px solid var(--text-color);
    border-radius: 16px;
    margin: 30px 0;
    padding: 10px;
    line-height: 1.3;
    color: var(--text-color);

    code {
      font-family: 'Fira Code';
      font-weight: bold;
      font-size: 14px;
      overflow-x: auto;
    }
  }
}

svg {
  filter: invert('red');
}
